# URL del webhook de Google Apps Script para la subida a Drive
DRIVE_WEBHOOK_URL="https://script.google.com/macros/s/.../exec"

# Configuraciones de Textos del PDF
PDF_SUBTITLE="Documentación de Shellaquiles"
PDF_TOP_HEADER="Shellaquiles Org"
PDF_ORG_NAME="SHELLAQUILES.ORG"

# Metadatos del PDF (exiftool)
PDF_AUTHOR="Shellaquiles Org"
PDF_CREATOR="Shellaquiles Org"
PDF_PRODUCER="Shellaquiles Docs"

# Configuración de Rutas
INPUT_DIRS="docs"
OUTPUT_DIR="documentacion"
CSS_PDF_THEME="config/css/theme-pdf.css"
CSS_GDOCS_THEME="config/css/theme-gdocs.css"
